<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shinystrap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shinystrap.Properties.Settings>
            <setting name="RuleName" serializeAs="String">
                <value />
            </setting>
            <setting name="RuleExists" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExpFeatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultInstalledPath" serializeAs="String">
                <value />
            </setting>
        </Shinystrap.Properties.Settings>
    </userSettings>
</configuration>